<div ng-controller="Our.Umbraco.LoadBalancindDashboard.FlexibleController">
    <div ng-if="isSingleServer" class="umb-sub-header">
        Your environment is configured to run as a single server. This configured in the appSetting with the key <code>umbracoDisableElectionForSingleServer</code> in the web.config file
    </div>
    <div ng-if="!isSingleServer">
        <div class="umb-sub-header">
            Your environment is using <a href="https://our.umbraco.org/documentation/Getting-Started/Setup/Server-Setup/load-balancing/flexible" target="_blank">flexible loadbalancing</a>
        </div>

        <div class="umb-listview">
            <table class="table table-striped" ng-if="servers.length > 0">
                <thead>
                <tr>
                    <td>
                        <a href="#" prevent-default class="sortable" ng-click="order('identity')">Identity</a>
                        <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'identity'"></i>
                    </td>
                    <td>
                        <a href="#" prevent-default class="sortable" ng-click="order('address')">Address</a>
                        <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'address'"></i>
                    </td>
                    <td>
                        <a href="#" prevent-default class="sortable" ng-click="order('registered')">Registered</a>
                        <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'registered'"></i>
                    </td>
                    <td>
                        <a href="#" prevent-default class="sortable" ng-click="order('lastaccessed')">Last accessed</a>
                        <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'lastaccessed'"></i>
                    </td>
                    <td>
                        <a href="#" prevent-default class="sortable" ng-click="order('ismaster')">Is Master</a>
                        <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'ismaster'"></i>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="s in servers | orderBy:predicate:reverse">
                    <td>{{s.identity}}</td>
                    <td>{{s.address}}</td>
                    <td><span ng-bind="s.registered | date:'dd/MM/yyyy HH:mm'"></span></td>
                    <td><span ng-bind="s.lastaccessed | date:'dd/MM/yyyy HH:mm'"></span></td>
                    <td>{{s.ismaster}}</td>
                </tr>
                </tbody>
            </table>
            <umb-empty-state ng-if="servers.length == 0">
                We could not find any registered servers in the database. This probably means that you used <a href="https://our.umbraco.org/documentation/Getting-Started/Setup/Server-Setup/load-balancing/flexible-advanced#explicit-master-scheduling-server" target="_blank">explicit master election.</a>
            </umb-empty-state>
        </div>
    </div>
</div>
